html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-size: $base__font-size;
  line-height: ($base__line/$base__font-size);
  font-family: $font-family--primary;
  position: relative;
  background-image: url(../img/school.png);
  color: $log-cabin;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img,
video,
audio {
  max-width: 100%;
  height: auto;
}

[data-remodal-target] {
  cursor: pointer;
}

select {
  font-size: 125%;
}

input:focus {
  outline: none;
}
