// Lost config
@lost flexbox flex;

// Font Stacks
$font-url--google        : '//fonts.googleapis.com/css?family=Bubblegum+Sans';
$font-family--primary    : 'Bubblegum Sans', cursive;

// Font Weights
$font-weight--medium     : 400;
$font-weight--bold       : 700;

// Base Colors
$white            : #fff;
$black            : #0b0b0b;
$grey             : #797e83;
$tradewind        : #6CBEB0;
$red-orange       : #ff5349;
$log-cabin        : #192419;
$amber            : #FDC100;
$affair           : #733D88;
$cerulean         : #0093E5;
$la-palma         : #1D9116;
$razzmatazz       : #E60A78;
$pizazz           : #FF9600;
$mariner          : #2675DE;
$stark-white      : #E9DDC6;
$lynch            : #667D9C;


// Color Palette Modifiers
$palettes: (
  grey: (
    xx-light  : lighten($grey, 43%),
    x-light   : lighten($grey, 35%),
    light     : lighten($grey, 12%),
    base      : $grey,
    dark      : darken($grey, 8%),
    x-dark    : darken($grey, 16%)
  ),
  black: (
    light     : lighten($black, 10%),
    base      : $black,
    dark      : darken($black, 10%)
  )
);

// UI Colors
$ui-colors: (
  primary    : $stark-white,
  secondary  : $lynch
);

// Label Colors
$labels: (
  purple    : $affair,
  lightblue : $cerulean,
  green     : $la-palma,
  pink      : $razzmatazz
);

// Text
$base__font-size  : 14px;
$base__line       : 15.4px;

// Border radius
$br--small        : 4px;
$br--medium       : 7px;
$br--large        : 10px;
