$wb-pause: "\e034";
$wb-stop: "\e047";
$wb-help: "\e8fd";
$wb-solve: "\e904";
$wb-play: "\e905";
$wb-static: "\e903";
$wb-chevron-left: "\e900";
$wb-chevron-right: "\e901";
$wb-arrow-left: "\e800";
$wb-arrow-right: "\e801";
$wb-video: "\e802";
$wb-audio: "\e803";
$wb-checkmark: "\e804";
$wb-cancel: "\e805";
$wb-smiley: "\e806";
$wb-sad: "\e807";
$wb-reset: "\e902";
$wb-ex: "\e808";

@font-face {
  font-family: 'webook';
  src: url('../font/webook.eot?iwsym3');
  src: url('../font/webook.eot?iwsym3#iefix') format('embedded-opentype'), url('../font/webook.ttf?iwsym3') format('truetype'), url('../font/webook.woff?iwsym3') format('woff'), url('../font/webook.svg?iwsym3#webook') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class*=" wb-"],
[class^="wb-"] {
  font-family: 'webook';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wb-pause {
  &:before {
    content: $wb-pause;
  }
}
.wb-stop {
  &:before {
    content: $wb-stop;
  }
}
.wb-help {
  &:before {
    content: $wb-help;
  }
}
.wb-solve {
  &:before {
    content: $wb-solve;
  }
}
.wb-play {
  &:before {
    content: $wb-play;
  }
}
.wb-static {
  &:before {
    content: $wb-static;
  }
}
.wb-chevron-left {
  &:before {
    content: $wb-chevron-left;
  }
}
.wb-chevron-right {
  &:before {
    content: $wb-chevron-right;
  }
}
.wb-arrow-left {
  &:before {
    content: $wb-arrow-left;
  }
}
.wb-arrow-right {
  &:before {
    content: $wb-arrow-right;
  }
}
.wb-video {
  &:before {
    content: $wb-video;
  }
}
.wb-audio {
  &:before {
    content: $wb-audio;
  }
}
.wb-checkmark {
  &:before {
    content: $wb-checkmark;
    color: $tradewind;
  }
}
.wb-cancel {
  &:before {
    content: $wb-cancel;
    color: $red-orange;
  }
}
.wb-smiley {
  &:before {
    content: $wb-smiley;
  }
}
.wb-sad {
  &:before {
    content: $wb-sad;
  }
}
.wb-reset {
  &:before {
    content: $wb-reset;
  }
}
.wb-ex {
  &:before {
    content: $wb-ex;
  }
}
