.root {
  width: 100%;
  height: 100%;
  padding: 20px 40px;
}

.wrapper {
  margin: auto;
  height: 100%;
  width: 100%;
  position: relative;

  &--exercise {
    text-align: center;
  }
}

.book {
  border: 5px solid map_get($ui-colors, secondary);
  background-color: $white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  lost-flex-container: row;
  position: relative;
  z-index: 1;

  &--video,
  &--help {
    lost-flex-container: column;
  }

  &--help {
    height: 100%;
    font-size: 130%;
    line-height: 2;
    p {
      line-height: 1.3;
    }

    @media (min-width: 1367px) {
      font-size: 140%;
    }
  }

  &--cover,
  &--exercise,
  &--static {
    lost-flex-container: column;
  }
}

.static {
  background-color: $white;
  @include element(inner) {
    max-width: 700px;
    margin: 0 auto;
    padding: 2em 0;
    font-size: 150%;
    line-height: 2;
    p {
      line-height: 1.3;
    }
  }
  @include element(heading) {
    text-align: center;
    line-height: 1;
    padding-bottom: 1rem;
  }
  @include element(chapters) {
    margin: 0;
    padding: 0;
    list-style-type: none;
    a {
      display: block;
      padding: 0 1em;
      color: $log-cabin;
      text-decoration: none;
      &:focus,
      &:hover {
        color: map-get($ui-colors, secondary);
        background-color: lighten(map-get($ui-colors, secondary), 33%);
      }
    }
  }
  @include element(help) {
    margin: 0;
    padding: 0;
    list-style-type: none;
    span {
      color: map-get($ui-colors, secondary);
      margin: 0 1rem;
      font-size: larger;
      vertical-align: middle;
    }
  }
  @include element(page) {
    float: right;
  }
}

.left-page,
.right-page {
  lost-column: 1/2 2 0;

  img {
    display: block;
  }
}

.left-page,
.right-page {
  position: relative;

  @include element(content) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  @include element(interactions) {
    padding-top: 4%;
    text-align: center;
    button {
      margin: 0 4%;
      padding: 2% 2% 1%;
      font-size: 2.2rem;
      color: map_get($ui-colors, secondary);
      background-color: rgba(map_get($ui-colors, secondary), .1);
      text-shadow: 0 1px 2px rgba(50, 50, 50, 0.3);
      border-radius: 4px;
    }
  }
}

.left-page {
  @include element(interactions) {
    padding-left: 20%;
  }
  @include element(actionable) {
    cursor: pointer;
    position: absolute;
    bottom: 4%;
    right: 4%;
    left: 8%;
    top: 14%;
    border-radius: 10px;
    background: transparent;
    // background: map_get($ui-colors, secondary); // remove me
    opacity: 0;
    // opacity: 0.2; // remove me
    &:hover {
      background: map_get($ui-colors, secondary);
      opacity: 0.1;
      transition: background 0.5s ease-in-out;
    }
  }
}

.right-page {
  @include element(interactions) {
    padding-right: 20%;
  }
  @include element(actionable) {
    cursor: pointer;
    position: absolute;
    bottom: 4%;
    left: 4%;
    right: 8%;
    top: 14%;
    border-radius: 10px;
    background: transparent;
    //background: map_get($ui-colors, secondary); // remove me
    opacity: 0;
    //opacity: 0.2; // remove me
    &:hover {
      background: map_get($ui-colors, secondary);
      opacity: 0.1;
      transition: background 0.5s ease-in-out;
    }
  }
}

.cover-page {
  lost-row: 1/1 0;

  img {
    display: block;
  }
}

.single-page {
  background-color: white;

  img,
  video {
    display: block;
  }

  &--video {
    flex-grow: 1;
    padding: 2rem;

    video {
      margin: 0 auto;
    }
  }

  &--help {
    flex-grow: 1;
    padding: 2rem;
  }

  &--exercise {
    position: relative;
    lost-row: 1/1 0;

    h1 {
      position: absolute;
      top: 1.5rem;
      right: 2.5rem;
      left: 2.5rem;
    }
  }

  &--static {
    lost-row: 1/1 0;
  }
}

[v-cloak] {
  visibility: hidden;
}
